*.o
*.lo
*.la
.deps
.libs

*.swp
*.swo

INSTALL
Makefile
Makefile.in
aclocal.m4
compile
confdefs.h
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
libtool
ltconfig
ltmain.sh
missing
mkinstalldirs
depcomp
stamp-h*
autom4te.cache
src/lci

